{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3 sidebar">
            <ol class="dir-tree">
            </ol>
        </div>
    </div>
{% endblock %}